.form-control {
max-width: 600px;
}

.question_input {
display: inline-block    
}

/* .alert {
    visibility: hidden !important;
   opacity: 0 !important;
   transition: visibility 0s 2s, opacity 2s linear !important; 
} */