
.navbar {
    display: flex;
    background-color: #0000FF !important;
       
}

.logged_in_username {
flex: 1;
text-align: right;
color: white;
font-size: 0.8em;

}

.app_title {
color: white;
font-size: 1.5em;
font-family: Georgia;
margin-right: 100px


}